[Unit]
Description=Production instance of StrApi

[Service]
Environment=NODE_ENV=production PORT=1338
WorkingDirectory=/var/www/production/strapi
ExecStart=/usr/local/bin/npm start